@import url("@fontsource/inter");

html {
  background-color: #1d2128;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 32px !important;
}

a {
  color: #79ab5d;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
